---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Organizacion de computadores">
	<main>
		<h1 class="text-white text-center">Organizacion de computadores</h1>
	</main>
</Layout>

