---
import { ClientRouter } from 'astro:transitions';
import SideBar from '../components/SideBar.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />	
	</head>
	<body class="flex flex-col min-h-screen">
		<header class="py-4 flex justify-between items-center px-5">
			<button id="menu-button" class="text-white text-2xl">☰</button>
			<h1 class="text-center text-white text-xl">Organizacion de computadores</h1>
			<a id="menu-button" href="/" class="text-white hover:cursor-pointer">Home</a>
		</header>
		<main class="flex-grow flex">
			<SideBar />

			<section class="flex-grow bg-[#F1F7ED] p-4 overflow-auto">
				<slot />
			</section>
		</main>
	</body>
</html>
<style is:global>
	:root {
		--blue: 10, 58, 234;
		--blue-light: 100, 204, 250;
		--blue-dark: 67, 97, 238;
		--blue-gradient: linear-gradient(
			45deg,
			rgb(var(--blue)),
			rgb(var(--blue-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #1B1B1E;
	}
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>